.transactionTable {
    width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transactionTable thead {
    background-color: #000;
    color: #fff;
}

.transactionTable th,
.transactionTable td {
    padding: 12px;
    text-align: center;
    border: 1px solid #e0e0e0;
}

.body:nth-child(even) {
    background-color: #f3f6f9;
}